<div class="welcome-container">
	<div class="mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Bem-vindo!</h2>
		</div>

		<div class="mdl-card__supporting-text">
			<p>
				No <b>EAD Teacher</b> Você poderá encontrar um sistema préviamente pronto para a organização da sua grande curricular. Podendo contar também com uma "área publica" que disponibiliza postagem para outros alunos.
			</p>
		</div>
	</div>

	<div class="mdl-card ">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Comesse já!</h2>
		</div>

		<div class="mdl-card__supporting-text"> 
			<%= simple_form_for @student, url: registration_path(@student) do |student| %>
				<%= student.input :name, label: "Nome" %>
				<%= student.input :email, label: "E-mail" %>
				<%= student.input :password, label: "Senha" %>
				<%= student.button :submit, "Cadastrar" %>
			<% end %>
		</div>

		<div class="mdl-card__actions mdl-card--border">
		</div>
		
	</div>
</div>