<h1>Cursos</h1>

<form>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input type="text" class="mdl-textfield__input" id="name" ng-model="course.name">
		<label class="mdl-textfield__label" for="name">Nome do curso</label>
	</div>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input type="text" class="mdl-textfield__input" id="name" ng-model="course.note">
		<label class="mdl-textfield__label" for="name">Anotação ou descrição</label>
	</div>

	<button class="mdl-button mdl-button--raises mdl-button--primary" ng-click="create_course(course)">
		Registrar
	</button>
</form>

<table class="mdl-data-table">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">Cursos</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody ng-repeat="course in coursesDB | filter: {student_id: <%= current_student.id %>}">
		<tr>
			<td class="mdl-data-table__cell--non-numeric">
				<span ng-show="!course.editable">
					<%= link_to "{{course.name}}", URI::unescape(course_path("{{course.id}}")) %>
				</span>
				<input type="text" ng-model="course.name" ng-show="course.editable">
			</td>

			<td>
				<a href="" ng-click="delete_course(course)">Apagar</a>
			</td>

			<td>
				<a href="" ng-model="course.editable" ng-show="!course.editable" ng-click="edit_course(course)">
				Editar</a>
				<a href="" ng-show="course.editable" ng-click="update_course(course)">Salvar</a>
			</td>
		</tr>
	</tbody>
</table>