<h1><%= @course.name %></h1>
	
<%= simple_form_for @semester do |semester| %>
	<div class="invisible">
		<%= semester.input :course_id, input_html: {value: @course.id}%>
		<%= semester.input :name, input_html: {value: (@course.semesters.count + 1).to_s	 + "° Semestre"} %>
	</div>
	<%= semester.button :submit, "Adicionar Semestre" %>
<% end %>

<div class="mdl-tabs mdl-js-tabs">
	<div class="mdl-tabs__tab-bar">
		<% @course.semesters.each do |semester| %>
			<a href="#semester<%= semester.id %>" class="mdl-tabs__tab"><%= semester.name %></a>
		<% end %>
	</div>

	<% @course.semesters.each do |semester| %>
		<div class="mdl-tabs__panel" id="semester<%= semester.id %>">
			
			<table class="mdl-data-table">
				<thead>
					<tr>
						<th class="mdl-data-table__cell--non-numeric">Matéria</th>
						<th>Tipo</th>
						<th>Data de ínicio</th>
						<th>Data de entrega</th>
						<th>Conceito</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="activity in activitysDB | filter: { semester_id: <%= semester.id %> } ">
						<td class="mdl-data-table__cell--non-numeric">{{activity.matter}}</td>
						<td>{{activity.task}}</td>
						<td>{{activity.dt_start}}</td>
						<td>{{activity.dt_end}}</td>
						<td><input type="text" ng-model="activity.concept" class="input-concept"></td>
						<td><a href="" ng-click="update_activity(activity)">Salvar</a></td>
						<td><a href="" ng-click="delete_activity(activity)">Excluir</a></td>
					</tr>
				</tbody>
			</table>

			<form class="form-new-activity" >
				<h3>Adicionar nova atividade</h3>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="matter" ng-model="activity.matter">
			    <label class="mdl-textfield__label" for="matter">Matéria</label>
			  </div>

			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="type" ng-model="activity.task">
			    <label class="mdl-textfield__label" for="task">Tipo de atividade</label>
			  </div>

			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="date" id="start" ng-model="activity.dt_start" placeholder="">
			    <label class="mdl-textfield__label" for="start">Data de ínicio</label>
			  </div>

			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="date" id="end" ng-model="activity.dt_end" placeholder="">
			    <label class="mdl-textfield__label" for="end">Data de entrega</label>
			  </div>

			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label invisible">
			    <input class="mdl-textfield__input" type="text" id="semester_id" ng-model="activity.semester_id" value="{{activity.semester_id = <%= semester.id %>}}">
			  </div>

			  <button class="mdl-button mdl-button--raised mdl-button--primary" ng-click="create_activity(activity)">
			  	Adicionar atividade
			  </button>
			</form>

		</div>
	<% end %>
</div>
