/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.not-link{
	text-decoration: none;
	color: #eee;
}

.form-inputs{
	display: flex;
	flex-direction: column;
}

table{
	width: 100%;
}

.invisible{
	display: none;
}

.mdl-button--light{
	color: #eee;
}

.form-new-activity{
	position: relative;
	top: 100px;
	margin-bottom: 100px;
	border-top: 1px solid #ddd;
}

.input-concept{
	border: 1px solid #eee;
	text-align: right;
}