<a href="" class="mdl-navigation__link">Logado como <%= current_student.name %></a>
<%= link_to "Cursos", courses_path, class: "mdl-button mdl-button--light" %>
<%= link_to "Sair", destroy_student_session_path, method: :delete, class: "mdl-button mdl-button--light" %>